*{
    font-family: Stencil Std, fantasy;
    margin: 10px;
    
}
body {
    justify-content: center ;
    
}
.Hero{
    position: absolute;
    margin-left: 90px;
    

}
.Hero h1{
    color:black;
    font-size: 45px;
    position: absolute;
    margin-top: 600px;
    margin-left: 80px;
    
}
.About pre{
    font-size: 25px;
    position: relative;
    margin-left: 600px;


}

.About h1{
    margin-left:650px;
}
.portfoliobar {
    position: absolute;
}
.portfoliobar a h1 {
    font-size: 69px;
    text-decoration: none;
    color : black;
    margin-left: 500px;
    margin-top: 560px;
}
.About a{
    text-decoration: none;
    color: white;
    border: 2px solid gold;
    background-color: black;
    border-radius: 3rem;
    padding: 1rem;

}
.About a:hover{
    background-color: gold;
    
}